body {
  min-height: 100%;
  width: 100%;

  position: absolute;

  display: flex;
    align-items: center;
    justify-content: center;
}

section {
  min-height: 100%;
  width: 80%;
  max-width: 920px;

  position: absolute;
    top: 30px;

  &.login {
    height: 30%;
    width: 30%;
  }

  .sectionOptions {
    margin: 20px 0;

    clear: both;
  }
}

article {
  width: 100%;
  padding: 20px 0;

  border-bottom: 1px solid #ccc;

  h2 {
    font-size: 1.5em;
    margin-bottom: 1.2em;
    
    small {
      float: right;
      line-height: 30px;
    }
  }
}

.formHolder {
  margin: 0 0 5px 0;

  &:after {
    content: '';
    clear: both;
    display: block;
  }
  label {
    width : 30%;

    display: block;
    float: left;
  }
  input {
    width: 60%;
    display: block;
    float: right;
  }

  &.submit {
    input {
      width: 100%;
    }
  }
}
