<!DOCTYPE html>
<html ng-app="portfolio">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Luke John Hammond</title>
    <link rel="stylesheet" href="/css/app.css">

    <script src="/js/vendor.js"></script>
    <script src="/js/app.js"></script>
    <script src="https://use.typekit.net/hqt5smt.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-90368804-1', 'auto');
      ga('send', 'pageview');

    </script>
  </head>

  <body ng-controller="MainController as main">

    <input id="blog" name="nav" type="radio" class="navCheck" ng-model="main.stateName" value="blog" />
    <input id="home" name="nav" type="radio" class="navCheck" ng-model="main.stateName" value="home"/>
    <input id="work" name="nav" type="radio" class="navCheck" ng-model="main.stateName" value="work" />
    <input id="about" name="nav" type="radio" class="navCheck" ng-model="main.stateName" value="abou" />

    <div class="holder">
        <div class="social">
          <a href="https://github.com/lukejohnhammond/" target="_blank"><img src="/images/GitHub-Mark-Light-64px@30h.png" alt="GitHub" /></a>
          <a href="https://www.linkedin.com/in/lukejohnhammond/" target="_blank"><img src="/images/In-White-2in-TM30h.png" alt="Linked In" /></a>
          <a href="https://twitter.com/LukeJohnHammond" target="_blank"><img src="/images/Twitter_Logo_White_On_Image30h.png" alt="Twitter" /></a>
          <a href="mailto:luke.john.hammond@gmail.com" ><img src="/images/mail.svg" alt="Email" height="30" /></a>
        </div>

        <header class="main">
          <h1>Luke John Hammond</h1>
          <h2>Full Stack Web Developer</h2>
        </header>

        <img src="/images/triangle.svg" alt="Triangle" class="slash" />

        <div class="homeSlide page content">
          <label for="blog" class="navRight" ui-sref="blogsIndex">blog</label>
          <label for="work" class="navDown" ui-sref="worksIndex">work</label>
          <label for="about" class="navLeft" ui-sref="about">about</label>
        </div>

        <div class="homeSlide page">
        </div>

        <div class="blogSlide page content">
          <div class="wrapper" ui-view="blogs">

          </div>
          <label for="home" class="navLeft" ui-sref="home">Home</label>
        </div>
        <div class="blogSlide page">
        </div>

        <div class="workSlide page content">
          <div class="wrapper" ui-view="works">
            <h2>Work</h2>
            <!-- <article class="project">
              <a href="#">
                <h4>Key Hero - WDI Project 1</h4>
                <img src="/images/project-ss-keyhero@3x.png">
              </a>
            </article>
            <article class="project">
              <a href="#">
                <h4>Conquiztadors - WDI Project 2</h4>
                <img src="/images/project-ss-keyhero@3x.png">
              </a>
            </article>
            <article class="project">
              <a href="#">
                <h4>Van Pelt's Travel Buddies - WDI Project 3</h4>
                <img src="/images/project-ss-keyhero@3x.png">
              </a>
            </article>
            <article class="project">
              <a href="#">
                <h4>CTRL-Hub - WDI Project 4</h4>
                <img src="/images/project-ss-keyhero@3x.png">
              </a>
            </article> -->
          </div>
          <label for="home" class="navUp" ui-sref="home">Home</label>
        </div>
        <div class="workSlide page">
        </div>

        <div class="aboutSlide page content">
          <div class="wrapper">
            <h2>This Is Me</h2>
            <h3>Web Designer turned Web Developer. <strong>Always</strong> looking to learn.</h3>
            <p>For as long as I can remember I’ve wanted to know how  audiences interact with the world around them and throughout my early education this was primarily focused on design and digital media. Over the years, this infatuation has focused more on interaction and web technologies, cultivating my thirst for finding out how they work and how to take advantage of their capabilities.</p>
            <p>After completing, and during, my degree I worked for design agency that allowed me to begin my journey into the development world and knowing that this is where I wanted to be, I took the decision to expand my coding knowledge, undertaking the Web Development Immersive course at GA.</p>
            <p>I’m looking for a fast pace environment with continuous learning opportunities. I am no stranger to hard work and late nights (coding...) and relish getting my teeth into a big project that tests my skills to the limit, giving me the opportunity find new ways of working.</p>

            <hr class="breaker">

            <h2>History</h2>
            <article>
              <h3>General Assembly - Web Development Immersive. Sept ’16 - Dec ’16</h3>
              <p>At GA, days would always start off with stand up, discussing issues faced and solutions from the previous day and how we expected to improve. Followed by a full day based on an interactive lesson structure, designed to nourish rapid learning in an agile environment.</p>
              <hr>
            </article>
            <article>
              <h3>Freelance Web Designer.  May ’16 - Sept ’16</h3>
              <p>Working on a few small projects, designing and building some basic websites, I was able to kick start the learning of new technologies to help give me a better scope of the web development industry and exactly which specialisation I wanted to progress with.</p>
              <hr>
            </article>
            <article>
              <h3>H2 Creative - <em>Web Designer</em>.  Sept ’09 - May ’16</h3>
              <p>Working within a small team, I was tasked with building and managing client relationships and designing digital solutions that ranged from emails and banner ads, to websites and registration systems. I was also tasked with building these solutions using HTML/CSS, usually combined with a bespoke CMS built with Classic ASP. If this CMS wasn’t applicable, it would be my responsibility to find a viable solution and apply it within the client’s scope.</p>
              <hr>
            </article>
            <article>
              <h3>University of Bath. <em>Graphic Design BA (Hons)</em>. Sept ’09 - May ’16</h3>
              <p>Whilst studying graphic design, I focused on primarily on media, designing websites, emails and banners. I also helped to teach my fellow peers how to build basic animations in Macromedia Flash.</p>
              <hr>
            </article>
          </div>
          <label for="home" class="navRight" ui-sref="home">Home</label>
        </div>
        <div class="aboutSlide page">
        </div>
    </div>
  </body>
</html>
