// Nav check

.navCheck {
  position: static;
  top: -9999px;
  right: -9999px;
}

// inputs

#home:checked ~ .holder {
  top: 0;
  left: -100vw;
}

#blog:checked ~ .holder {
  top: 0;
  left: -200vw;
}

#about:checked ~ .holder {
  top: 0;
  left: 0vw;
}

#work:checked ~ .holder {
  top: -100vh;
  left: -100vw;
}


// labels

label[class^="nav"] {
  color: #fff;
  font-size: 20px;
  line-height: 40px;
  text-transform: lowercase;
}

.navUp {
  width: 100px;

  text-align: center;

  position: absolute;
  left: calc(50% - 50px);
  top: 34px;

  &:after {
    @extend .triangle;

    position: absolute;
    top: -13px;
    left: calc(50% - 15px);
  }
}

.navRight {
  height: 40px;

  position: absolute;
  right: 70px;
  top: calc(50vh - 40px);

  &:after {
    @extend .triangle;

    position: absolute;
    right: -50px;
    top: calc(50% - 5px);

    transform: rotate(90deg);
  }
}

.navDown {
  width: 100px;

  text-align: center;

  position: absolute;
  left: calc(50% - 50px);
  bottom: 40px;

  &:after {
    @extend .triangle;

    position: absolute;
    bottom: -30px;
    left: calc(50% - 15px);

    transform: rotate(180deg);
  }
}

.navLeft {
  height: 40px;

  position: absolute;
  left: 70px;
  top: calc(50vh - 40px);

  &:after {
    @extend .triangle;

    position: absolute;
    left: -50px;
    top: calc(50% - 5px);

    transform: rotate(-90deg);
  }
}
